<h1> welcome to my bookstore! </h1>

<div class="all-items">
  <% @books.each do |book| %>
    <div class="book-card">
        <div class="book-card-thumbnail">
          <%= link_to image_tag(book.image), book_path(book) %>
        </div>
        <%= book.title %>
    </div>
  <% end %>
</div>